{% extends "dashboard.twig" %}
{% block notification %}{% endblock %}
{% block content %}

<div class="container-fluid">

  <div class="row">

    <div class="col-md-3">
      {% if (menu is defined and menu) %}
        {% include "@CoreHome/_menu.twig" %}
      {% endif %}
    </div>

    <div class="col-md-9 col-md-offset-3">
        {% include "@CoreHome/_siteSelectHeader.twig" %}
        {% include "@CoreHome/_indexContent.twig" %}
    </div>

    </div>

</div>
{% endblock %}

